swagger: "2.0"
info:
  version: "0.0.1"
  title: Object Writter
  description: The micro-service intended to provide the mechanisum to store the objects to the minio server.
  contact:
    email: prasanna@makonlinesolutions.com
host: localhost:5001
securityDefinitions:
  jwt:
    type: apiKey
    name: Authorization
    in: header
basePath: /
schemes:
  - http
  - https
consumes:
  - application/json
  - multipart/form-data
produces:
  - application/json
paths:
  /system-health:
    x-swagger-router-controller: system.controller
    get:
      description: Returns the systems cpu information
      operationId: getHealthCheck
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/SystemHealthResponse"
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"

  /registry/upload:
    x-swagger-router-controller: registry.controller
    post:
      summary: Upload Object
      description: Upload a object into registry
      operationId: upload
      security:
        - jwt: []
      consumes:
        - multipart/form-data
      parameters:
        - in: formData
          name: file
          type: file
          description: The Object to upload into registry
      responses:
        "200":
          description: Success
          schema:
            properties:
              id:
                type: integer
                format: int32
              name:
                description: "Name of the object stored in minio"
                type: string
              type:
                description: "mime type of the object"
                type: string
              size:
                type: integer
                description: "Size of an object"
                format: int32
              url:
                type: string
                description: "Key require to access the object from object reader"
              bucket:
                type: string
                description: "Bucket name in which the object is stored"
              updatedAt:
                type: string
                description: "Bucket name in which the object is stored"
              createdAt:
                type: string
        "400":
          description: Error
          schema:
            properties:
              message:
                type: string
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
definitions:
  SystemHealthResponse:
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
